<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi, I'm Cristan. I created this site using data from Mapbox.com and Open-Meteo.com, Enjoy!  </p>
        <img class="portrait" src="/img/portret.jpg">
    </div>
    
    {{>footer}}
</body>

</html>